<html>
  <head>
    <title>
      Hello Title
    </title>
  </head>

  <body>
    <h1>
      Hello {{ prenom|upper }}
    </h1>
    <h2>
      Departement : {{ department }}
    </h2>
    {% if department == 35 %}
      <p>
        Welcome to department 35! Vous êtes en IEV !
      </p>
    {% endif %}
    <ul>
      {% for i in 1..20 %}
        <li>{{ i }}</li>
      {% endfor %}
    </ul>
    <ul>
      {% for pays in pays %}
        <li>{{ pays_codes[pays]|default(pays)|upper }}</li>
      {% endfor %}
    </ul>
    <h2>
      Bien
    </h2>
    <p>
      ID: {{ bien.id }}
    </p>
    <p>
      Ville: {{ bien.ville }}
    </p>
    <p>
      Prix: {{ bien.prix }}
    </p>
  </body>
</html>
