{% extends 'base.html.twig' %}
{% block title %}
	Accueil Agence Alpha
{% endblock %}

{% block stylesheets %}

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta
		name="author" content=""/>
		<!-- Favicon-->
		<link
		rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
		<!-- Font Awesome icons (free version)-->
		<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
		<link
		href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="css/styles.css" rel="stylesheet"/>
	</head>

	<link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<body id="page-top">

		{% include 'shared/_header.html.twig' %}
		<div style="background-color : black">

			<div class="container bg-dark">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col">
						<div class="card shadow-sm">
							<div class="card-body">
								<p class="card-text">
									<h1>{{randomkey_titre1}}</h1>
								</p>
								<div class="d-flex justify-content-between align-items-center"></div>
							</div>

							<img src="../assets/{{randomkey_ref1}}.jpg" alt="Image du 1er bien généré aléatoirement"/>
							<div class="card-body">

								<p class="card-text">{{randomkey_desc1}}</p>

								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a class="" href="/bien/{{randomkey_id1}}">
											<button type="button" class="btn btn-primary">Details du bien</button>
										</a>
									</div>
									<div class="btn-group">
										<button type="button" class="btn btn-success">Ajouter le Bien</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<div class="card-body">
								<p class="card-text">
									<h1>{{randomkey_titre2}}</h1>
								</p>
								<div class="d-flex justify-content-between align-items-center"></div>
							</div>
							<img src="../assets/{{randomkey_ref2}}.jpg" alt="Image du 2ème bien généré aléatoirement"/>
							<div class="card-body">
								<p class="card-text">{{randomkey_desc2}}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a class="" href="/bien/{{randomkey_id2}}">
											<button type="button" class="btn btn-primary">Details du bien</button>
										</a>
									</div>
									<div class="btn-group">
										<button type="button" class="btn btn-success">Ajouter le Bien</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<div class="card-body">
								<p class="card-text">
									<h1>{{randomkey_titre3}}</h1>
								</p>
								<div class="d-flex justify-content-between align-items-center"></div>
							</div>
							<img src="../assets/{{randomkey_ref3}}.jpg" alt="Image du 3ème bien généré aléatoirement"/>
							<div class="card-body">
								<p class="card-text">{{randomkey_desc3}}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a class="" href="/bien/{{randomkey_id3}}">
											<button type="button" class="btn btn-primary">Details du bien</button>
										</a>
									</div>
									<div class="btn-group">
										<button type="button" class="btn btn-success">Ajouter le Bien</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr/>

				<div class="alert alert-dismissible alert-secondary ">
					<h2 class="page-section-heading text-center text-uppercase text-black">Votre agence de
						<strong>proximité</strong>
						!
						<i class="fas fa-check"></i>
					</h2>

					<ul>
						{% for titre in random %}
							<li>{{ titre }}</li>
						{% endfor %}
					</ul>

				</div>

				<hr/>
				{% include 'shared/_about.html.twig' %}
				<hr/>

				<div class="row">
					{% include 'shared/_presentation.html.twig' with {'img' : 'https://f.hellowork.com/edito/sites/3/2021/03/management_proximite-1-1200x628.jpg?v=1657025314', 'icon' : 'fa-sharp fa-solid fa-location-dot', 'text' : 'Proximité'}%}
					{% include 'shared/_presentation.html.twig' with {'img' : 'https://www.lecoindesentrepreneurs.fr/wp-content/uploads/2020/09/Creer-une-societe-de-conseil.png', 'icon' : 'fa-solid fa-magnifying-glass-plus', 'text' : 'Conseil'}%}
					{% include 'shared/_presentation.html.twig' with {'img' : 'https://www.netpme.fr/wp-content/uploads/2016/10/1409909964choix_Fotolia_55876265_S-682x403.jpg', 'icon' : 'fa-solid fa-pen', 'text' : 'Choix'}%}
				</div>

			</div>
		</div>
	</body>
{% endblock %}
