{# Template général de la page #}
{% extends 'base.html.twig' %}

{% block title %}
	{{nom_categorie}}
{% endblock %}

{% block stylesheets %}
	<link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

	{% include 'shared/_header.html.twig' %}
	<div style="background-color : black">

		<div class="container bg-light">
			<hr/><hr/><hr/><hr/>

			<div class="alert alert-dismissible alert-secondary ">
				<h1 class="page-section-heading text-center text-uppercase text-black">Vous êtes dans la catégorie
					<strong>{{nom_categorie}}</strong>
					!
				</h1>
			</div>

			<div class="alert alert-dismissible alert-secondary ">
				<h3 class="page-section-heading text-center text-uppercase text-black">
					<i class="fa-solid fa-arrow-down"></i>
					Vous trouvez ici tout les biens de la catégorie
					{{nom_categorie}}
					<i class="fa-solid fa-arrow-down"></i>
				</h3>
			</div>

			<div class="album py-5 bg-light">
				<div class="container">

					{% for bien in liste_biens %}
						
					{% endfor %}


					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						<div class="col">
							<div class="card shadow-sm">
								<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false">
									<title>Placeholder</title>
									<rect width="100%" height="100%" fill="#55595c"></rect>
									<text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
								</svg>
								<div class="card-body">
									<p class="card-text">
										<h4>Titre du bien :
											{{ bien.titre }}. Prix :
											{{ bien.prix }}
											€. Surface (en m2) :
											{{ bien.surface }}</h4>
									</p>

									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
										</div>
										<small class="text-muted">9 mins</small>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>

{% endblock %}
