{# Template général de la page #}
{% extends 'base.html.twig' %}

{% block title %}
	{{nom_categorie}}
{% endblock %}

{% block stylesheets %}
	<link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

	{% include 'shared/_header.html.twig' %}
	<div style="background-color : black">

		<div class="container bg-light">
			<hr/><hr/><hr/><hr/>

			<div class="alert alert-dismissible alert-secondary ">
				<h1 class="page-section-heading text-center text-uppercase text-black">Vous êtes dans la catégorie
					<strong>{{nom_categorie}}</strong>
					!
				</h1>
			</div>

			<div class="alert alert-dismissible alert-secondary ">
				<h3 class="page-section-heading text-center text-uppercase text-black">
					<i class="fa-solid fa-arrow-down"></i>
					Vous trouvez ici tout les biens de la catégorie
					{{nom_categorie}}
					<i class="fa-solid fa-arrow-down"></i>
				</h3>
			</div>

			<div class="container bg-light">

				<div class="row">
					<div class="col">
						<div class="card">
							{% for id in liste_biens.id %}
								<div class="col-4">
									<h4>Id du bien :{{ id }}</h4>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<div class="card">
							{% for titre in liste_biens.titre %}
								<div class="col-4">
									<h4>Titre du bien :{{ titre }}</h4>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="card">
							{% for prix in liste_biens.prix %}
								<div class="col-4">
									<h4>Prix :
										{{ prix }}
										€</h4>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div class="card">
							{% for surface in liste_biens.surface %}
								<div class="col-4">
									<h4>Surface (en m2) :
										{{ surface }}</h4>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

{% endblock %}
