{# Template général de la page #}
{% extends 'base.html.twig' %}

{% block title %}
	{{nom_categorie}}
{% endblock %}

{% block stylesheets %}
	<link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

	{% include 'shared/_header.html.twig' %}
	<div style="background-color : white">

		<div class="container bg-light">


			<div class="alert alert-dismissible alert-secondary ">
				<h1 class="page-section-heading text-center text-uppercase text-black">Vous êtes dans la catégorie
					<strong>{{nom_categorie}}</strong>
					!
				</h1>
			</div>

			<div class="alert alert-dismissible alert-secondary ">
				<h3 class="page-section-heading text-center text-uppercase text-black">
					<i class="fa-solid fa-arrow-down"></i>
					Vous trouvez ici tout les biens de la catégorie
					{{nom_categorie}}
					<i class="fa-solid fa-arrow-down"></i>
				</h3>
			</div>

			<div class="container bg-light">

				<div class="row">

					{% for reference in liste_biens.reference %}
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">

										<a class="" href="/bien/{{id}}">
											<button type="button" class="btn btn-info btn-sm">Details du bien</button>
										</a>

									</p>
									<div class="d-flex justify-content-between align-items-center"></div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>

				<div class="row">

					{% for titre in liste_biens.titre %}
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">
										<h5>
											<strong>Titre du bien</strong>
											:
											{{ titre }}</h5>
									</p>
									<div class="d-flex justify-content-between align-items-center"></div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="row">

					{% for prix in liste_biens.prix %}
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">
										<h5>
											<strong>Prix</strong>
											:
											{{ prix }}
											€</h5>
									</p>
									<div class="d-flex justify-content-between align-items-center"></div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>

				<div class="row">

					{% for id in liste_biens.id %}
						<div class="col">
							<div class="card shadow-sm">
								<div class="card-body">
									<p class="card-text">

										<a class="" href="/bien/{{id}}">
											<button type="button" class="btn btn-info btn-sm">Details du bien</button>
										</a>

									</p>
									<div class="d-flex justify-content-between align-items-center"></div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>

			</div>

		</div>
	</div>
{% endblock %}
